body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 800px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-pdf__Page canvas {
  max-width: 100% !important;
  height: auto !important;
}

.pdf-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

.app-footer {
  flex: 0 0 auto;
  height: 40px !important; /* Adjust to taste */
}